.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

doc/
.repl_history
build
tags
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
local_notes.rb
